.content {
    transform: translateY(1em);
    position: relative;
    top: 3rem;
}
.listItem {
    border: 2px solid transparent;
}
.listItem:hover{
    border-radius: 50%;
    border: 2px solid blue;
}
.mypaper {
    background-color: rgba(255, 255, 255, 0.753) !important;
    
}
.checkbox {
    display: flex;
    align-items: center;
    margin-right: 0.5em;
}