.nav {
    background: #fff !important;
    z-index: 1400;
    box-shadow: none !important;
    color: white !important;
}
.nav a {
    color: white;
}
.nav button{
    border: 1px solid transparent;
}
.nav button:hover{
    border: 1px solid #333;
    transition: all 0.3s ease;
}
.link::before{
    z-index: -1;
    position: absolute;
    content: '';
    transform: skewX(-30deg);
    width: 100%;
    height: 100%;
    background-color: #72ba28;
    border-radius: 50%;
}